body {
  margin: 0px;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 1);
  background: #fff;
  font-family: 'PT Sans', sans-serif !important;
  background-attachment: fixed;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

a.view-all {
  margin-top: 5px;
}

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-overlay.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loading-overlay img {
  opacity: 1 !important;
  width: 100px;
  height: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ced5d9;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a4acb1;
}

.main-layout-section {
  min-height: calc(100vh - 188px);
}

a.disabled {
  pointer-events: none !important;
}

a:hover {
  text-decoration: none;
  color: #007575;
}

a:focus {
  outline: none !important;
}

a {
  text-decoration: none;
  transition: all 0.1s ease-out;
  color: #336699;
}

button {
  border: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.padding_0 {
  padding: 0%;
}

.login-page {
  background-color: #007575;
}

.shape1 {
  width: 34.8125vw;
  height: calc(50vh - 0.8463541666666666vw);
  background: linear-gradient(108.83deg, #007575 0%, #8AFFFF 100%);
  margin-bottom: 1.6927083333333333vw;
}

.shape2 {
  width: 25.999688vw;
  height: calc(50vh - 0.8463541666666666vw);
  border-radius: 13.4765625vw 13.4765625vw 0px 0px;
  background: linear-gradient(108.83deg, #007575 0%, #8AFFFF 100%);
  margin: 0px 1.953125vw;
}

.shape3 {
  width: 35.101563vw;
  height: calc(50vh - 0.8463541666666666vw);
  border-radius: 13.4765625vw 0px 13.346354166666666vw;
  background: linear-gradient(108.83deg, #007575 0%, #8AFFFF 100%);
  margin-bottom: 1.6927083333333333vw;
}

.shape4 {
  width: 63.127604vw;
  height: calc(50vh - 0.8463541666666666vw);
  border-radius: 0 23.763020833333332vw;
  overflow: hidden;
  background: linear-gradient(108.83deg, #007575 0%, #8AFFFF 100%);
}

.shape5 {
  width: 34.8125vw;
  height: calc(50vh - 0.8463541666666666vw);
  background: linear-gradient(108.83deg, #007575 0%, #8AFFFF 100%);
  margin-left: 1.953125vw;
  overflow: hidden;
  text-align: right;
}

.shape4 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.shape5 img {
  object-fit: contain;
  height: 100%;
}

.login-page-inner {
  position: relative;
}

.login-page-inner h1 {
  margin-top: 35px;
  font-size: 44px;
  line-height: 56px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}

.login-page-inner h1 span {
  color: #2EFFFF;
}

.form-section {
  background: #f9fafc;
  box-shadow: 10px 4px 50px rgb(0 0 0 / 15%);
  border-radius: 8px;
  max-width: 360px;
  padding: 24px;
  margin: auto;
}

.form-section h2 {
  font-weight: 700;
  /*font-size: 40px;*/
  line-height: 35px;
  color: #0f2b16;
  margin-bottom: 25px;
}

.form-section label.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #4f4f4f;
}

textarea.error {
  border: 2px solid red !important;
}

input.error {
  border: 2px solid red !important;
}

select.error {
  border: 2px solid red !important;
}

input.disabled {
  opacity: 0.8 !important;
  background-color: #edeeef !important;
}

.form-section form input.form-control {
  border: 2px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 250px;
  background: transparent;
  height: 50px;
  box-shadow: none !important;
  padding: 0 20px;
}

.forgot-btn {
  font-size: 16px;
  font-weight: 500;
  color: #007575;
}

.form-section .btn-primary {
  padding: 16px 80px;
  border-radius: 250px;
  background: #007575;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  box-shadow: none !important;
  border: 2px solid #007575;
}

.form-section .btn-primary:focus,
.form-section .btn-primary:hover {
  background: rgba(64, 106, 11, 1);
  color: #fff;
  border-color: rgba(64, 106, 11, 1);
}

.form-section .form-check {
  position: relative;
}

.form-section .form-check .form-check-input {
  width: 24px;
  height: 24px;
  margin-top: 0;
  background-color: transparent;
  border: 2px solid #828282;
  position: absolute;
  left: -10px;
  margin: 0px;
}

.form-section .form-check .form-check-input:checked {
  background-color: #007575;
  border-color: #007575;
}

.form-section .form-check-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4f4f4f;
}

.footer-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #111111;
  padding: 10px 25px;
}

.footer-bottom a {
  color: #111111;
}

.eye-icon {
  position: absolute;
  right: 20px;
  top: 48px;
  cursor: pointer;
}

.eye-icon:hover {
  filter: grayscale(1) invert(1);
}

.form-section form input[type='password'] {
  padding-right: 50px;
}

.form-section p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #828282;
  margin-bottom: 20px;
}

.back-btn a {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #007575;
}

/* header start */

.header-react-sample {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 6px 40px rgb(0 0 0 / 3%);
}

.header-nav {
  flex-grow: 0;
  margin-right: auto;
  margin-left: 20px;
}

.header-nav .navbar-nav .nav-item .nav-link {
  padding: 31px 20px;
  font-size: 16px;
  position: relative;
  /*background-image: linear-gradient(*/
  /*  transparent 0%,*/
  /*  transparent 96%,*/
  /*  rgba(147, 192, 32, 1) 96%,*/
  /*  rgba(147, 192, 32, 1) 100%*/
  /*);*/
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 300ms;
}

.header-nav .navbar-nav .nav-item .nav-link:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.header-nav .navbar-nav .nav-item .nav-link.active {
  font-weight: 700;
}

.header-react-sample .dropdown > a {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
}

.header-react-sample.dropdown-toggle::after {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
}

.login-page .react-sample-logo {
  height: 90px;
}

.header-react-sample .react-sample-logo {
  height: 70px;
}

.header-react-sample .dropdown-menu {
  background: #fff;
  border: none;
  box-shadow: 0px 8px 40px rgba(9, 44, 76, 0.16);
}

.header-react-sample .dropdown-menu a {
  padding: 11px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.header-react-sample .dropdown-menu a:hover {
  background: #5b8a20;
  color: #fff;
}

.whDropdown .dropdown-menu {
  background: #fff;
  border: none;
  box-shadow: 0px 8px 40px rgba(9, 44, 76, 0.16);
}

.whDropdown .dropdown-menu a {
  padding: 11px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
}

.whDropdown .dropdown-menu a svg {
  margin-right: 8px;
  color: #899296;
  font-size: 16px;
}

.whDropdown .dropdown-menu a:hover {
  background: #5b8a20;
  color: #fff;
}

.whDropdown .dropdown-menu a:hover svg {
  color: #fff;
}

.whDropdown > a {
  color: #444647;
  font-size: 20px;
  width: 36px;
  height: 36px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.whDropdown > a::after {
  display: none;
}

.whDropdown > a:hover {
  background: #f2f6f7;
}

.slider-section {
  padding: 60px 0 0px 15px;
  overflow: hidden;
}

.slider-section h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #020202;
}

.slider-section h2 a {
  font-size: 17px;
  color: rgba(147, 192, 32, 1);
  overflow: hidden;
  transition: all 0.3s ease-in-out 0s;
  display: flex;
  align-items: center;
}

.slider-section h2 a img {
  height: 15px;
}

.slider-section h2 a span {
  transition: all 0.3s ease-in-out 0s;
  margin-left: -54px;
}

.slider-section:hover h2 a span {
  margin-left: 15px;
}

.slider-inner {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.overlay-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 6, 6, 0.55);
  pointer-events: none;
  flex-direction: column;
  transition: all ease 0.3s;
  display: flex;
  border-radius: 0;
  opacity: 1;
  top: inherit;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  padding: 5px 10px;
}

.overlay-text * {
  transform: inherit !important;
}

.product-image {
  object-fit: cover;
  margin: auto;
  min-height: 231px;
  max-height: 231px;
}

.plant-image {
  object-fit: cover;
  margin: auto;
  min-height: 231px;
  max-height: 231px;
}

.slider-inner-product:hover > img {
  filter: inherit !important;
}

.overlay-text p {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}

.overlay-text span {
  transform: translateY(-8px);
  transition: all ease 0.3s;
}

.slider-inner:hover .overlay-text {
  transition: all ease 0.1s;
  opacity: 1;
  pointer-events: all;
}

.overlay-text-hover {
  transition: all ease 0.1s;
  opacity: 1;
  pointer-events: all;
}

.slider-inner:hover .overlay-text p,
.slider-inner:hover .overlay-text span {
  transform: translateY(0);
  transition: all ease 0.3s;
}

.overlay-text p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 4px;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay-text span {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}


.shared-overlay-text p {
  max-width: 45%;
}

.shared-overlay-text span {
  max-width: 45%;
}

.delete-icon {
  background: rgba(6, 6, 6, 0.3);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: absolute;
  padding: 0 !important;
  right: 10px;
  top: 10px;
  transform: translateX(5px);
  transition: all ease 0.3s;
}

p.par-p0 {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.slider-inner:hover .delete-icon {
  transform: translateX(0px);
  transition: all ease 0.3s;
}

.delete-icon img {
  height: auto !important;
  width: 15px !important;
  opacity: 0.8;
  position: relative;
  top: -1px;
}

.delete-icon:hover {
  background: #e11324;
}

.delete-icon:hover img {
  opacity: 1;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.slider-section .swiper-button-next,
.slider-section .swiper-button-prev {
  height: 98%;
  top: 0;
  display: none;
  background: rgba(10, 10, 10, 0.5);
  width: 70px;
  margin: 0;
}

.slider-section .swiper-button-next:hover,
.slider-section .swiper-button-prev:hover {
  background: rgba(10, 10, 10, 0.7);
}

.slider-section .swiper-button-next:hover img,
.slider-section .swiper-button-prev:hover img {
  opacity: 1;
}

.slider-section .swiper-container {
  position: relative;
  overflow: inherit !important;
}

.slider-section .swiper-container:hover .swiper-button-next,
.slider-section .swiper-container:hover .swiper-button-prev {
  display: flex;
}

.slider-section .swiper-button-prev,
.slider-section .swiper-rtl .swiper-button-next {
  left: -27px;
  right: auto;
}

.slider-section .swiper-button-next,
.slider-section .swiper-rtl .swiper-button-prev {
  right: -12px;
  left: auto;
}

.slider-section .swiper-button-prev img {
  transform: rotate(180deg);
  height: 60px;
  opacity: 0.6;
}

.slider-section .swiper-button-next img {
  height: 60px;
  opacity: 0.6;
}

.slider-inner {
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.swiper-button-disabled {
  display: none !important;
}

.slider-inner > img {
  /*height: 100%;*/
  object-fit: cover;
  /*width: 100%;*/
  transition: all ease 0.3s;
  max-height: 266px;
  min-height: 266px;
  margin: auto;
}

.my-product-screen {
  text-align: center;
  max-height: 231px !important;
  min-height: 231px !important;
}

.my-product-screen > img {
  max-height: 231px !important;
  min-height: 231px !important;
}

.slider-inner:hover > img {
  filter: blur(6px);
  transition: all ease 0.3s;
}

footer {
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding: 20px 10px;
  margin-top: 40px;
}

footer a {
  color: #000;
  text-decoration: none;
}

.main-section {
  padding: 50px 0px;
}

.inner-section {
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(9, 44, 76, 0.16);
  border-radius: 8px;
  padding: 40px 25px;
}

.inner-section h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #020202;
}

.inner-section .back--btn {
  position: relative;
  left: 0;
  transition: all ease 0.2s;
}

.inner-section .back--btn:hover {
  left: -3px;
}

.inner-section input[type='text'] {
  background: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 250px;
  padding: 10px 40px 10px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4f4f4f;
}

.search-form img {
  position: absolute;
  right: 30px;
  top: 12px;
}

.search-replacement-form img.search {
  position: absolute;
  right: 30px;
  top: 12px;
}

.products {
  margin-top: 25px;
}

.slider-inner {
  display: inline-block;
  width: 100%;
  min-height: 200px;
}

.slider-inner.full-width {
  display: inline-block;
  width: 100%;
  min-height: 200px;
}

.uploadImageFixWidth {
  width: 485px !important;
}

.uploadImageInner {
  background: #edeeef;
  border-radius: 8px;
  margin-bottom: 26px;
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 0px #2EFFFF;
  overflow: hidden;
  position: relative;
}

.uploadImageInner span {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #a8b2b4;
}

.uploadImageInner .img-fluid {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.uploadBtn img {
  margin-left: 15px;
}

.uploadPhotoBtn {
  width: 240px;
}

.uploadBtn {
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4f4f4f;
  border-radius: 8px;
  padding: 14px 25px;
  border: 2px solid #bdbdbd;
  border-radius: 250px;
  cursor: pointer;
}

.uploadBtn:hover {
  background-color: #007575;
  color: #fff;
  border-color: #007575;
}

.uploadBtn:hover img {
  filter: brightness(0) invert(1);
}

.uploadImage .form-control {
  display: none;
}

.formInput label.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #4f4f4f;
}

.formInput input.form-control,
.formInput .form-select {
  border: 2px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 250px;
  background: transparent;
  height: 50px;
  box-shadow: none !important;
  padding: 0 20px;
}

.formInput .form-select.error {
  border: 2px solid red !important;
}

.formInput input.form-control::placeholder,
.formInput .form-select,
.formInput textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4f4f4f;
  font-family: 'PT Sans';
}

.formInput textarea {
  border: 2px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  box-shadow: none !important;
  padding: 15px;
}

.btn-primary {
  padding: 13px 50px;
  border-radius: 30px;
  background: #007575 !important;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  box-shadow: none !important;
  border: 2px solid #007575 !important;
}

i.opacity-0 {
  opacity: 0;
}

.btn-primary:focus,
.btn-primary:hover {
  background: rgba(64, 106, 11, 1);
  color: #fff;
  border-color: rgba(64, 106, 11, 1);
}

.btn-outline {
  padding: 13px 45px;
  border-radius: 30px;
  background: transparent;
  font-weight: 700;
  font-size: 14px;
  color: #007575;
  line-height: 20px;
  box-shadow: none !important;
  border: 2px solid #007575;
}

label.labelBtn {
  width: auto !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.btn-outline:hover {
  background: rgba(64, 106, 11, 1);
  color: #ffffff !important;
  border-color: rgba(64, 106, 11, 1);
}

.disabledBtn {
  background: rgba(94, 142, 34, 0.4);
  border: 2px solid transparent;
  pointer-events: none;
}

.uploadImage {
  width: 285px;
}

.form-section-outer {
  width: calc(100% - 285px);
}

button, a {
  transition: all 0.2s ease-in-out 0s;
}

/* find replacement */

.upImg {
  border-radius: 8px;
  /* overflow: hidden; */
}

.productImg ul.slick-dots {
  bottom: -24px;
  background: transparent;
}

.productImg .slick-dots li {
  position: relative;
  display: inline-block;
  width: auto;
  height: 16px;
  margin: 0px 2px;
  padding: 0;
  cursor: pointer;
}

.productImg .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 5px;
  height: 5px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #a3c65d;
  border-radius: 100%;
}

.productImg .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background: rgba(50, 83, 20, 1);
}

.productImg .slick-dots li button {
  width: 8px;
  height: 8px;
}

.productImg .slick-dots li button:before {
  display: none;
}

.productImg {
  width: 200px;
}

.productDetail {
  width: calc(100% - 200px);
}

.productDetail h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #007575;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.productDetail p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 3px;
}

.productDetail span {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #7a8188;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
}

.productBtnOuter {
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  align-items: center;
}

.productBtn {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9da2ab;
  display: inline-flex;
  padding: 5px 15px;
  border: 1px solid #e9ebef;
  border-radius: 20px;
}

button.transparent {
  background: transparent;
}

.btn-outline .uploadBtn1 {
  font-weight: 700;
  font-size: 14px;
  color: #007575;
  line-height: 20px;
  margin-bottom: 0px !important;
  box-shadow: none !important;
}

.btn-outline .uploadBtn1 span:hover {
  color: #ffffff;
}

.scanBtn {
  padding: 13px 45px;
  border-radius: 30px;
  background: rgba(64, 106, 11, 1);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: auto;
  box-shadow: none !important;
  border: 2px solid #007575;
}

.scanBtn span {
  color: #ffffff;
}

.background-transparent {
  background: transparent;
}

.btn-outline .uploadBtn1:hover {
  color: #ffffff;
}

.productBtn:hover {
  background: rgb(227 232 234);
  border-color: rgb(198 204 206);
  color: #575e62;
}

.productBtn img {
  margin-left: 6px;
}

.productBtn + .productBtn {
  margin-left: 15px;
}

hr {
  background: #e3e6e7;
  margin: 25px 0;
}

.uiTabs .nav-tabs {
  border: none;
}

.uiTabs .nav-tabs .nav-link {
  background: #f9fafc;
  border: 2px dashed #b6bec8;
  border-radius: 8px;
  padding: 15px 15px 5px;
  width: 170px;
  height: 170px;
}

.uiTabs .nav-tabs .nav-link span {
  width: 100%;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightImg {
  display: none;
}

.uiTabs .nav-tabs a {
  text-decoration: none !important;
}

.uiTabs .nav-tabs .nav-link span img {
  margin-right: 5px;
}

.uiTabs ul li + li {
  margin-left: 30px;
}

.uiTabs .nav-tabs .nav-item.show .nav-link,
.uiTabs .nav-tabs .nav-link.active,
.uiTabs .nav-tabs .nav-item.show .nav-link:hover,
.uiTabs .nav-tabs .nav-link:hover {
  background: #2EFFFF;
  border: 2px dashed #2EFFFF;
  border-radius: 8px;
}

.uiTabs .nav-tabs .nav-item.show .nav-link .lightImg,
.uiTabs .nav-tabs .nav-link.active .lightImg,
.uiTabs .nav-tabs .nav-item.show .nav-link:hover .lightImg,
.uiTabs .nav-tabs .nav-link:hover .lightImg {
  display: block;
}

.uiTabs .nav-tabs .nav-item.show .nav-link .darkImg,
.uiTabs .nav-tabs .nav-link.active .darkImg,
.uiTabs .nav-tabs .nav-item.show .nav-link:hover .darkImg,
.uiTabs .nav-tabs .nav-link:hover .darkImg {
  display: none;
}

.uiTabs .nav-tabs .nav-item.show .nav-link span,
.uiTabs .nav-tabs .nav-link.active span,
.uiTabs .nav-tabs .nav-item.show .nav-link:hover span,
.uiTabs .nav-tabs .nav-link:hover span {
  color: #fff;
}

.uiTabs .nav-tabs .nav-item.show .nav-link span img,
.uiTabs .nav-tabs .nav-link.active span img,
.uiTabs .nav-tabs .nav-item.show .nav-link:hover span img,
.uiTabs .nav-tabs .nav-link:hover span img {
  filter: brightness(0) invert(1);
}

.search-banner .container {
  position: relative;
  z-index: 9;
}

.searchText {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.backBtn:hover {
  color: #fff;
}

.backBtn,
.backBtn svg {
  transition: all 0.3s ease-in-out 0s;
}

.backBtn.color-black {
  color: black;
}
.backBtn:hover svg {
  margin-left: -5px;
}

a.backBtn.hover-effect {
  color: rgba(0, 0, 0, 0.5);
}

a.backBtn.hover-effect:hover {
  color: #000;
}

.searchBox {
  position: relative;
}

.searchBox input[type='text'] {
  width: 100%;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  height: 60px;
  padding: 0px 200px 0px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
}

.searchBox button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #324017;
  border-radius: 30px;
  height: 52px;
  padding: 0 45px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.searchBox button:hover {
  background: #007575;
}

.searchBox button svg {
  margin-left: 10px;
}

.searchTags {
  margin-top: 22px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.searchTagBtn {
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 7px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 0px 5px 12px;
  color: #000000;
}

.searchTagBtn:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
}

.searchTagBtn a {
  color: #000;
  display: flex;
  align-items: center;
}

.searchTagBtn a img {
  margin-left: 5px;
}

.closeICon {
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease-in-out 0s;
}

.closeICon:hover {
  transform: scale(1.2);
}

.checkIcon {
  border-radius: 4px;
  height: 20px;
  width: 20px;
  display: flex;
  background: #e3e8ea;
  border-color: 2px solid #ccd6da;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: none !important;
  margin-left: 10px;
}

.btn-check:checked + .btn-outline-secondary.checkIcon {
  background: #007575;
  border-color: #007575;
}

.btn-check:checked + .btn-outline-secondary.checkIcon img {
  filter: brightness(0) invert(1);
}

.checkIcon:hover {
  background: #f4f6f0;
}

.btn-check:checked + .btn-outline-secondary {
  background: #f4f6f0;
}

.btn-check + .btn-outline-secondary img {
  display: none;
}

.btn-check:checked + .btn-outline-secondary img {
  display: block;
}

.filterHeading {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  display: flex;
  margin-bottom: 27px;
  margin-top: 14px;
}

.filterHeading a {
  color: #000;
}

.searchResults {
  padding: 50px 0;
}

@media screen and (max-width: 1400px) {
  .tabsInner {
    padding: 20px 5px;
  }
}

@media screen and (max-width: 1200px) {
  .uiTabs {
    width: 100%;
  }

  .TabsContent {
    width: 100%;
    border-left: none;
    border-top: 1px solid #c7cecf;
    margin-top: 30px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .products {
    width: 50%;
  }
}

@media screen and (max-width: 1023px) {
  .addTables .form-check-label {
    flex: 1;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .docS {
    flex-wrap: wrap;
  }

  .docS .col-sm-6 {
    width: 100%;
  }

  .header-react-sample img.rounded-circle.me-2 {
    margin: 0 !important;
  }

  .user-fullname {
    font-size: 0;
  }
}

@media screen and (max-width: 1023px) {
  body {
    background-position-y: -16px;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-lg .navbar-collapse.show {
    display: flex !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block !important;
  }

  .header-react-sample .navbar-light .navbar-toggler {
    position: absolute;
    left: 0;
    top: 0px;
    border: 0;
    outline: 0 !important;
  }

  .header-react-sample .navbar-light .navbar-toggler:focus {
    box-shadow: none !important;
    background-color: #eee;
  }

  .header-react-sample .navbar-brand {
    margin-left: 50px;
    margin-right: calc(50% - 110px);
  }

  .header-react-sample .navbar-brand img {
    height: 40px;
  }

  .header-react-sample {
    padding: 12px;
  }

  .header-nav {
    position: fixed;
    top: 64px;
    width: 100%;
    left: 0;
    margin: 0;
    flex-grow: 1;
  }

  .header-nav .navbar-collapse {
    background-color: #fff;
    border-top: solid 1px #eee;
    box-shadow: 0 6px 50px rgb(0 0 0 / 10%);
  }

  .header-nav .navbar-nav .nav-item .nav-link {
    padding: 14px 20px;
    background-image: none !important;
  }

  .header-nav .navbar-nav .nav-item:first-child .nav-link {
    margin-top: 10px;
  }

  .header-nav .navbar-nav .nav-item:last-child .nav-link {
    margin-bottom: 10px;
  }
}